{% extends 'base/listmonk/_layout.html' %}{% load i18n %}
{% block content %}{% translate "Reset your password" as title %}{% include 'base/listmonk/_heading.html' with text=title %}
<p class="th-text">{% blocktranslate with name=tx.name %}Hi {{ name }},{% endblocktranslate %}</p>
<p class="th-text">{% blocktranslate with org=brand.org_name %}Someone asked to reset the password for your {{ org }} account. If that was you, choose a new password below.{% endblocktranslate %}</p>
{% translate "Choose a new password" as label %}{% include 'base/listmonk/_button.html' with href=tx.link label=label %}
<p class="th-note">{% translate "If you didn't ask for this, you can ignore this email. Your password won't change." %}</p>
{% endblock %}
